body {
    overflow-x: hidden !important;
}

.user-logged-detail li {
    list-style: none;
}

.menu-div {
    display: flex;
}

.menu-div a {
    color: white;
    padding: 5px 10px;
    transition: 0.25s;
}

.menu-div a:hover {
    background-color: transparent;
    color: #f60;
    padding: 5px 10px;
    transform: scale(1.12);
}

.top-navbar {
    background-color: rgb(0, 75, 126) !important;
}

.top-navbar a {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu-div {
        text-align: center;
        display: block;
    }
}

.blog-list h3 {
    margin-bottom: 18px;
    font-size: 30px;
    color: #f60;
}

.blog-list h3 {
    margin-bottom: 20px;
}

.home_a_blog {
    text-decoration: none !important;
}

.blog-list {
    animation: flipInX;
    animation-duration: 1.2s;
    padding: 10px 16px;
    margin: 20px 10px;
    transition: 0.7s;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
}

.blog-list:hover {
    cursor: pointer;
    background-color: rgb(255, 239, 225);
    box-shadow: 0px 5px 10px 0px black;
    transform: scale(1.1);
}

.form-center {
    border-radius: 30px;
    max-width: 320px;
}
.addform-center,
.form-center {
    padding: 20px;
    margin: 30px auto;
    text-align: center;
}
.addform-center {
    max-width: 650px;
}
.addform-center label,
.form-center label {
    text-align: left;
    display: block;
}
.addform-center h2,
.form-center h2 {
    border-bottom: 3px solid rgba(0, 153, 255, 0.403921568627451);
    font-size: 28px;
    color: #f60;
    margin: 30px 0;
}
.form-below {
    display: flex;
    justify-content: space-evenly;
}
.form-below a {
    color: #f60;
    text-decoration: none;
}
.form-below a:hover {
    color: #000;
    text-decoration: underline;
}
.addform-center input,
.addform-center textarea,
.form-center input,
.form-center textarea {
    resize: vertical;
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.addform-center button,
.form-center button {
    margin: 10px 0;
    background: rgba(0, 153, 255, 0.403921568627451);
    color: #f60;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.addform-center button:hover,
.form-center button:hover {
    box-shadow: 0 0 10px 2px #f60;
}
.login-err-msg {
    color: red;
    box-shadow: 0 0 5px 1px red;
}

.myblog_options {
    display: block;
}

@media (min-width: 768px) {
    .blog-details {
        padding: 10px 16px;
        margin: 20px 30px;
        border-bottom: 1px solid #d3d3d3;
    }
}
@media (max-width: 768px) {
    .blog-details {
        margin: 20px 10px;
    }
}
.blog-details h2 {
    font-size: 27px;
    color: #f60;
    margin-bottom: 10px;
}
.blog-details div {
    margin: 20px 0;
}
.blog-details button {
    background: #f60;
    font-weight: 700;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.blog-details button:hover {
    box-shadow: 0 0 10px 2px rgba(0, 153, 255, 0.788235294117647);
}

#blog_body_detail {
    word-wrap: break-word;
}

.footer {
    text-align: center;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.247);
    bottom: 0;
}

.navbar-login-register {
    margin: 0px 10px;
    transition: 0.3s;
    color: black;
}

.navbar-login-register:hover {
    background-color: transparent;
    color: #f60 !important;
    padding: 5px 10px;
    transform: scale(1.12);
}

